@use '@/assets/mixins.scss' as *;

.peaui-search-input {
  display: grid;
  width: 100%;
  align-items: stretch;
  position: relative;
  grid-template-columns: minmax(0, 1fr) auto;

  @include set-param(gap, 0);
}

.peaui-search-input__field {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 0;
  width: 100%;
  border: 1px solid var(--peaui-color-grey-300);
  background-color: var(--peaui-color-grey-0);
  color: var(--peaui-color-grey-500);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  @include outline(var(--peaui-color-primary-700));
  @include transition(border-color);
}

.peaui-search-input__field:hover {
  border-color: var(--peaui-color-primary-600);
  box-shadow: 0 0 5px 0 rgb(from var(--peaui-color-primary-600) r g b / 0.7);
}

.peaui-search-input__field:focus-within {
  border-color: var(--peaui-color-primary-600);
  box-shadow: 0 0 5px 0 rgb(from var(--peaui-color-primary-600) r g b / 0.7);
}

.peaui-search-input__field[data-disabled='true'] {
  cursor: not-allowed;
  background-color: var(--peaui-color-grey-0);
}

.peaui-search-input__field-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  color: var(--peaui-color-grey-500);
  translate: 0 -50%;

  @include set-param(width, 1rem);
  @include set-param(height, 1rem);
}

.peaui-search-input__input {
  min-width: 0;
  width: 100%;
  border: 0;
  background: transparent;
  color: inherit;
  appearance: none;
  flex: 1;

  @include set-param(padding-top, 0.75rem);
  @include set-param(padding-bottom, 0.75rem);
  @include set-param(padding-left, 2.5rem);
  @include set-param(padding-right, 5rem);
  @include set-size-text(s);
}

.peaui-search-input__input::-webkit-search-cancel-button,
.peaui-search-input__input::-webkit-search-decoration,
.peaui-search-input__input::-webkit-search-results-button,
.peaui-search-input__input::-webkit-search-results-decoration {
  display: none;
  appearance: none;
}

.peaui-search-input__input:focus {
  outline: none;
}

.peaui-search-input__input::placeholder {
  font-weight: 400;
}

.peaui-search-input__input--interactive {
  cursor: text;
}

.peaui-search-input__erase-button {
  @include unset-safe;

  position: absolute;
  top: 50%;
  right: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--peaui-color-grey-500);
  cursor: pointer;
  translate: 0 -50%;
}

.peaui-search-input__erase-icon {
  @include set-param(width, 0.75rem);
  @include set-param(height, 0.75rem);
}

.peaui-search-input__button.peaui-button-action {
  position: absolute;
  width: auto;
  flex-shrink: 0;
  right: 0;
  align-self: stretch;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  @include set-param(min-width, 3rem);
  @include set-param(padding-left, 0.875rem);
  @include set-param(padding-right, 0.875rem);
}

.peaui-search-input__button-icon {
  @include set-param(width, 1rem);
  @include set-param(height, 1rem);
}
