@use '@/assets/mixins.scss' as *;

.peaui-image-view {
  display: inline-flex;
  align-items: flex-start;
  max-inline-size: 100%;
}

.peaui-image-view__image {
  display: block;
  max-inline-size: 100%;
}

.peaui-image-view--size-xs {
  @include set-param(inline-size, 4rem);
}

.peaui-image-view--size-s {
  @include set-param(inline-size, 8rem);
}

.peaui-image-view--size-m {
  @include set-param(inline-size, 12rem);
}

.peaui-image-view--size-l {
  @include set-param(inline-size, 16rem);
}

.peaui-image-view--size-xl {
  @include set-param(inline-size, 24rem);
}

.peaui-image-view--size-xs .peaui-image-view__image,
.peaui-image-view--size-s .peaui-image-view__image,
.peaui-image-view--size-m .peaui-image-view__image,
.peaui-image-view--size-l .peaui-image-view__image,
.peaui-image-view--size-xl .peaui-image-view__image,
.peaui-image-view--size-full .peaui-image-view__image {
  inline-size: 100%;
}

.peaui-image-view--size-full {
  display: flex;
  inline-size: 100%;
}
