.peaui-image-view {
  display: inline-flex;
  box-sizing: border-box;
  align-items: flex-start;
  max-inline-size: 100%;
  min-inline-size: 0;
}

.peaui-image-view__image {
  display: block;
  max-inline-size: 100%;
}

.peaui-image-view--size-xs {
  inline-size: min(100%, calc(4rem * var(--peaui-user-scale)));
}

.peaui-image-view--size-s {
  inline-size: min(100%, calc(8rem * var(--peaui-user-scale)));
}

.peaui-image-view--size-m {
  inline-size: min(100%, calc(12rem * var(--peaui-user-scale)));
}

.peaui-image-view--size-l {
  inline-size: min(100%, calc(16rem * var(--peaui-user-scale)));
}

.peaui-image-view--size-xl {
  inline-size: min(100%, calc(24rem * var(--peaui-user-scale)));
}

.peaui-image-view--size-xs .peaui-image-view__image,
.peaui-image-view--size-s .peaui-image-view__image,
.peaui-image-view--size-m .peaui-image-view__image,
.peaui-image-view--size-l .peaui-image-view__image,
.peaui-image-view--size-xl .peaui-image-view__image,
.peaui-image-view--size-full .peaui-image-view__image {
  inline-size: 100%;
}

.peaui-image-view--size-full {
  display: flex;
  inline-size: 100%;
}
