@use '@/assets/mixins.scss' as *;

.peaui-form-date-picker-navigation {
  display: inline-flex;

  @include set-param(gap, 0.5rem);
}

.peaui-form-date-picker-navigation__button {
  @include unset-safe;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--peaui-calendar-cell-radius);
  color: var(--peaui-color-grey-700);
  background-color: var(--peaui-color-grey-0);
  cursor: pointer;

  @include set-param(width, var(--peaui-calendar-cell-min-height));
  @include set-param(height, var(--peaui-calendar-cell-min-height));
  @include outline(var(--peaui-color-primary-700));
  @include transition(background-color, color, box-shadow);
}

.peaui-form-date-picker-navigation__button:hover:enabled {
  background-color: var(--peaui-color-primary-50);
}

.peaui-form-date-picker-navigation__button:focus-visible {
  box-shadow: 0 0 0 2px rgb(from var(--peaui-color-primary-400) r g b / 0.35);
}

.peaui-form-date-picker-navigation__button:disabled {
  cursor: not-allowed;
  color: var(--peaui-color-grey-400);
  background-color: var(--peaui-color-grey-50);
}

.peaui-form-date-picker-navigation__icon {
  @include set-param(width, 1.5rem);
  @include set-param(height, 1.5rem);
}

.peaui-form-date-picker-navigation__icon--previous {
  transform: rotate(90deg);
}

.peaui-form-date-picker-navigation__icon--next {
  transform: rotate(-90deg);
}
