@use '@/assets/mixins.scss' as *;

.peaui-form-field-number--appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
