@use '@/assets/mixins.scss' as *;

.peaui-svg-icon {
  @include set-param(width, 1rem);
  @include set-param(height, 1rem);
  display: inline-block;
  flex: 0 0 auto;
  color: inherit;
  vertical-align: -0.125em;
}
