@use '@/assets/mixins.scss' as *;

.peaui-navigation-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include set-param(gap, 1rem);
  @include set-param(padding-top, 1rem);
  @include set-param(padding-bottom, 1rem);
  @include set-param(padding-left, 1rem);
  @include set-param(padding-right, 1rem);
  width: 100%;

  border: 1px solid var(--peaui-color-grey-100);
  border-radius: var(--peaui-radius-md);
  background-color: var(--peaui-color-grey-0);
  color: inherit;
  text-decoration: none;

  @include outline(var(--peaui-color-primary-700));
  @include transition(border-color, box-shadow, background-color);
}

.peaui-navigation-card--interactive {
  cursor: pointer;
}

.peaui-navigation-card--interactive:hover,
.peaui-navigation-card--interactive:focus-visible {
  border-color: var(--peaui-color-primary-700);
  box-shadow: 0 0 5px 0 rgb(from var(--peaui-color-primary-600) r g b / 0.35);
}

.peaui-navigation-card--interactive:focus-visible {
  outline: none;
}

.peaui-navigation-card--variant-complete {
  border-color: var(--peaui-color-primary-100);
  background-color: var(--peaui-color-primary-50);
}

.peaui-navigation-card--variant-disabled,
.peaui-navigation-card--variant-hidden {
  border-color: var(--peaui-color-grey-100);
  background-color: var(--peaui-color-grey-50);
  cursor: not-allowed;
}

.peaui-navigation-card__content {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  flex-direction: column;
  @include set-param(gap, 0.25rem);
}

.peaui-navigation-card__title {
  margin: 0;
  font-weight: 600;
}

.peaui-navigation-card__title--size-s {
  @include set-size-text(s);
  color: var(--peaui-color-primary-700);
}

.peaui-navigation-card__title--size-m {
  @include set-size-text(m);
  color: var(--peaui-color-grey-700);
}

.peaui-navigation-card__title--size-l {
  @include set-size-text(l);
  color: var(--peaui-color-grey-700);
}

.peaui-navigation-card__title--locked {
  color: var(--peaui-color-grey-600);
}

.peaui-navigation-card__description {
  margin: 0;
  @include set-size-text(xs);
  color: var(--peaui-color-grey-600);
}

.peaui-navigation-card__description--locked {
  color: var(--peaui-color-grey-500);
}

.peaui-navigation-card__tooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.peaui-navigation-card__icon {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  @include set-param(width, 2rem);
  @include set-param(height, 2rem);

  border-radius: var(--peaui-radius-md);
  color: var(--peaui-color-primary-600);
}

.peaui-navigation-card__icon--variant-default {
  background-color: var(--peaui-color-primary-700);
  color: var(--peaui-color-grey-0);
}

.peaui-navigation-card__icon--variant-during {
  border: 1px solid var(--peaui-color-primary-100);
  background-color: var(--peaui-color-grey-0);
  color: var(--peaui-color-primary-700);
}

.peaui-navigation-card__icon--variant-complete {
  background-color: var(--peaui-color-primary-50);
  color: var(--peaui-color-primary-600);
}

.peaui-navigation-card__icon--variant-disabled,
.peaui-navigation-card__icon--variant-hidden {
  background-color: transparent;
  color: var(--peaui-color-grey-500);
}

.peaui-navigation-card__icon-symbol {
  @include set-param(width, 1.125rem);
  @include set-param(height, 1.125rem);
}

.peaui-navigation-card__icon-symbol--arrow {
  transform: rotate(-90deg);
  transform-origin: center;
}
